body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
header {
    border: 2px solid rgb(0, 3, 167);
    background-color: rgb(0, 3, 167);
    color: black;
    padding: 1%;
}
.menu-horizontal1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-horizontal2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    padding: 10px 20px;
    background-color: #0066cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 5px;
}
.button:hover {
    background-color: #005bb5;
}
.nombre-usuario {
    font-size: 30px;
    font-weight: bold;
}
.pie {
    text-align: center;
    border: 2px solid rgb(0, 140, 255);
    background-color: rgb(0, 140, 255);
    color: black;
    padding: 10px;
}
.pie a {
    color: black;
    text-decoration: none;
    margin: 0 5px;
}
.pie a:hover {
    text-decoration: underline;
}
.tabla-perfil {
    width: 100%;
    overflow-x: auto;
    margin-top: 20px;
}
.tabla-perfil table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.tabla-perfil th, .tabla-perfil td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.tabla-perfil th {
    background-color: #f2f2f2;
    font-weight: bold;
}